/* color palette from <https://github.com/vuejs/theme> */

:root {
    --bg-dark: #112f4a;
    --bg-blue: #eef9fb;
}

.bg-dark {
    background-color: var(--bg-dark) !important;
}

.navbar {
    min-height: 75px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: .875rem;
}